* {
  color: rgb(8, 7, 2);
}
body {
  margin: 0px;
  padding: 0%;
}
.container{
    padding: 20px;
    margin: 30px;
    text-align: center;
}
button{
    color: black;
    /* background-color: black; */
}